h2{
padding: 40px 0;
font-size: 50px;
}
#prima-img{
  height: 200px;
  width: 200px;
}
#seconda-img{
  height: 200px;
  width: 327px;
}
h3{
  padding: 30px 0;
}
.second{
  background-color: rgb(249, 249, 249);
}
/* .central-img{
  margin-left: 10%;
  margin-right: 10%;
} */
.tird{
  text-align: center;
}
