h2{
padding: 40px 0;
font-size: 50px;
}
#prima-img{
  height: 200px;
  width: 200px;
}
#seconda-img{
  height: 200px;
  width: 327px;
}
h3{
  padding: 30px 0;
}
.second{
  background-color: rgb(249, 249, 249);
}
.container > .col-lg-3{
  width: 33.33333%;
  display: inline-block;
  text-align: center;
}
/* .central-img{
  margin-left: 12.5%;
  margin-right: 12.5%;
} */
.tird{
  background-color: rgb(249, 249, 249);
  margin-top: 100px;
}
.col-lg-12{
  padding: 40px 0;
}
.col-lg-12 img{
  background-color: rgb(66, 139, 202);
  border-radius: 100%;
  padding: 30px;
  height: 250px;
  width: 250px;
}
